<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Herramientas</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <header class="app-header">
    <h1>Herramientas de reconstrucción de accidentes</h1>
  </header>

  <div class="layout">

    <!-- SIDEBAR IZQUIERDA -->
    <aside class="sidebar">
      <h3>Menú</h3>
      <a class="side-btn" href="{{ url_for('index') }}" target="mainIframe">
        Inicio
      </a>
      <a class="side-btn" href="{{ url_for('datosTecnicos') }}" target="mainIframe">
        Datos técnicos
      </a>


    </aside>

    <!-- NAV HORIZONTAL (EMPIEZA DONDE TERMINA SIDEBAR) -->
    <nav class="top-nav">
      <a class="top-btn" href="{{ url_for('index') }}" target="mainIframe">Inicio</a>
      <a class="top-btn" href="{{ url_for('datosTecnicos') }}" target="mainIframe">Datos técnicos</a>

    </nav>

    <!-- IFRAME -->
    <main class="iframe-area">
      <iframe name="mainIframe" id="mainIframe" src="{{ url_for('datosTecnicos') }}" frameborder="0">
      </iframe>
    </main>

  </div>

</body>

</html>